body {
    font-family: 'Arial', sans-serif;
    background-color: #29232e;
    color:#c5c0c0;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100vh;
  }

.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 20px;
    gap:25px;
}
.featured-container {
    width:100%;
    max-width: 1000px;
    display:flex;
    justify-content: center;
    gap:20px;
}

.home-featured {
    width: 300px;
    height: 300px;
    background-color: #1f1a23;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column; 
    box-sizing: border-box;
    cursor: pointer;
}

.home-featured:hover {
    background-color: #574a63;;
}

.dashboard-btn {
    background-color: #0768cf;
    color: white;
    padding: 15px 55px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.dashboard-btn:hover {
    background-color: #0056b3;
}
