html {
  font-size: 100%;
  overflow-x: hidden;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #29232e;
  color:#c5c0c0;
  align-items: center;
  /* height: 100vh; */
}
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
  }
  
  .login-container input {
    margin: 10px 0;
    padding: 10px;
    width: 200px;
  }
  
  .error-message {
    color: red;
  }
  